@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap");

:root{
  --yzcolor: #0b536c;
  --main-white:#f0f8ff;
  --white :#fff ;
  --main-red :#d90429;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  
}
